@model List<MVC_CRUD.Models.ViewModels.listatablaviewmodel>
@{
    ViewBag.Title = "Mis Datos";
}

<h2>@ViewBag.Title</h2>

<div style="text-align:right;padding:5px">
    <a href="~/Gente/Nuevo" class="btn btn-primary">Nuevo</a>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table">
            <tr>
                <th>#</th>
                <th>NOMBRE</th>
                <th>Correo</th>
            </tr>
            @foreach (var Elemento in Model)
            {
                <tr>
                    <td>@Elemento.id</td>
                    <td>@Elemento.Nombre</td>
                    <td>@Elemento.Correo</td>
                    <td>
                        <a class="btn btn-dark" href="~/Gente/Editar/@Elemento.id">Editar</a>
                        <a class="btn btn-danger" href="~/Gente/Eliminar/@Elemento.id">Eliminar</a>
                    </td>
                </tr>
            }
        </table>

    </div>

</div>